<style>
/********** Base styles **********/
* {
  box-sizing: border-box;

}
h1 {
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid black;
  background-color: purple;
  height: 50px;
  width: 400px;
  margin-left: 30%;
  margin-right: 30%;
  float: left;
  font-color: white;

}
p {
  
  width: 100%;
  height: 500px;
  margin-right: 0;
  padding: 0;
  font: oblique bold Helvetica;
  color: black;
  display: inline-block;
  font-size: 2vw;
  float: left;
  position: relative;
  overflow-wrap: all;
  



}
/* Simple Responsive Framework. */
.row {
    width: 100%;
    background-color: pink;

}
/********** Large devices only **********/
@media (min-width: 992px) {
  
  .col-ld-4 {
    width: 31.33%;
    float: left;
    position: relative;
    border: 1px solid green;
    background-color: pink;
      }
  
  }
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .col-md-6 {
    width: 47%;
    float: left;
    positiion: relative;
    border: 1px solid blue;
    background-color: gray;
  }
  .col-md-12 {
    width: 96%;
    float: left;
    border: 1px solid green;
    background-color: gray;
  }
  }
}
.tit {
	margin: 2px black;
	box-sizing: border-box;
  background-color: purple;
 	float:right;
 	width: auto;
 	height: auto;
  
}
p.test {
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-weight: bolder;
  background-color: purple;
  margin: 2px;
  height: 40px;
  width: 40%;
  float: right;
  position: relative;
  border: 3px solid black;


}
.cont {
	border: 5px solid white;
  padding: 5px;
}
.first {
	float: right;
	background: pink;

	
}
/********** Small devices only **********/
@media (max-width: 767px) {
  
  .col-sd-12 {
    width: 100%;
    float: left;
    border: 5px solid white;
    background-color: beige;
    padding-bottom: 3px;
   

  }
  h1 {
    font-size: 20px;
    background-color: beige;
    height: 30px;
  width: 200px;
  margin-left: 30%;
  margin-right: 30%;
  float: left;
  font-color: white;

  }
  p.test {
    font-size: 4vw;
  }
p { 
  font-size: 20px;
 }
  
    
  }

}
</style>